.games-title{
  text-align: center;
  background-color: #092532;
  margin: 0;
  padding-top: 50px;
}
.games-title-h{
  margin-bottom: 0;
  color: #fff;
  font-size: 5rem;
  padding-bottom: 100px;
  background-color: #092532;
  text-align: center;
}
.row{
  margin-top: 0;
  text-align: center;
  background-color: #092532;
}
.player-title{
  margin-top: 0;
  color: #fff;
}
.game-images{
  margin-bottom: 15px;
  border-radius: 100%;
  background-color: #092532;
  width: 250px;
}
.Button-part{
  text-align: center;
  background-color: #092532;
  padding-bottom: 20px;
}

#games-title-h3{
  margin-bottom: 0;
  color: #fff;
  font-size: 5rem;
  padding-bottom: 100px;
  background-color: #092532;
  text-align: center;

}
